.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px 0;
    background-color: rgb(193, 190, 255);
}
.login .card{
    display: flex;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}
.login .card .left{
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.712), rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.315)), url("https://images.pexels.com/photos/3046299/pexels-photo-3046299.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center;
    background-size: cover;
    min-height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    text-align: start;
}
.login .card .left h1{
    font-size: 80px;
    line-height: 80px;
}
.login .card .left p{

}
.login .card .left span{
    font-size: 14px;
}
.login .card .left button{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}
.login .card .right{
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}
.login .card .right h1{
    color: #555;
}
.login .card .right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login .card .right form input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}
.login .card .right form button{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #938eef;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 1024px){}