.rightBar{
    flex: 3;
    position: sticky ;
top: 70px;
height: calc(100vh - 70px);
overflow: scroll;
scrollbar-width: none;
}
.rightBar .container {
    padding: 20px;
}
.rightBar .container .item{
    padding: 20px;
    box-shadow: 0px 0px 15px 1px #00000086;
    border-radius: 5px;
    margin: 20px 0;
}
.rightBar .container .item span{
    color: var(--text-color-soft);
}

.rightBar .container .item .user{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 20px 0;
}
.rightBar .container .item .user .userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightBar .container .item .user .userInfo p{
    color: var(--text-color-soft);
    font-size: 12px;
}
.rightBar .container .item .user .userInfo .img-con{
    position: relative;
}
.rightBar .container .item .user .userInfo .img-con span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    position: absolute;
    border: 2px solid var(--bg);
    top: 0;
    right: -5px;
}
.rightBar .container .item .user .userInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightBar .container .item .user .userInfo span{
    font-weight: 500;
    text-transform: capitalize;
    color: inherit;
}
/* .theme-dark .rightBar .container .item .user .userInfo span{
    color: #fff;
} */
.rightBar .container .item .user .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightBar .container .item .user .buttons button{
    border: none;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    background: blue;
    border-radius: 5px;
}

.rightBar .container .item .user .buttons button:first-child{
    background: red;
}
@media screen and (max-width: 960px){
    .rightBar{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .rightBar{
        display: none;
    }
}